/* Montserrat font */
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Montserrat-Regular.eot");
  src: local("Montserrat"), local("Montserrat-Regular"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype"), url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Montserrat-Bold.eot");
  src: local("Montserrat"), local("Montserrat-Bold"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"), url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Montserrat-Light.eot");
  src: local("Montserrat"), local("Montserrat-Regular"), url("./fonts/Montserrat-Light.woff2") format("woff2"), url("./fonts/Montserrat-Light.woff") format("woff"), url("./fonts/Montserrat-Light.ttf") format("truetype"), url("./fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype");
}
/* Roboto font */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Roboto-Light.eot");
  src: local("Roboto"), local("Roboto-Light"), url("./fonts/Roboto-Light.woff2") format("woff2"), url("./fonts/Roboto-Light.woff") format("woff"), url("./fonts/Roboto-Light.ttf") format("truetype"), url("./fonts/Roboto-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Light"), url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular.eot?#iefix") formt("embedded-opentype");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/Roboto-LightItalic.eot");
  src: local("Roboto"), local("Roboto-Italic") url("./fonts/Roboto-LightItalic.woff2") format("woff2"), url("./fonts/Roboto-LightItalic.woff") format("woff"), url("./fonts/Roboto-LightItalic.ttf") format("truetype"), url("./fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype");
}
/* Kaushan script font */
@font-face {
  font-family: 'Kaushan Script';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007f;
  /* English gliph range */
  src: url("./fonts/KaushanScript-Regular.eot");
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("./fonts/KaushanScript-Regular.woff2") format("woff2"), url("./fonts/KaushanScript-Regular.woff") format("woff"), url("./fonts/KaushanScript-Regular.ttf") format("truetype"), url("./fonts/KaushanScript-Regular.eot?#iefix") format("embedded-opentype");
}
/* /fonts */
*, *::after, *::before, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  /* overflow-x: hidden; */
}

body {
  position: relative;
  background-color: #fff;
  color: #333;
  width: 100%;
}

::selection {
  background-color: #95e1d3;
}

::-moz-selection {
  background-color: #95e1d3;
}

img::selection {
  background-color: rgba(252, 227, 138, 0.5);
}

img::-moz-selection {
  background-color: rgba(252, 227, 138, 0.5);
}

.separate-line {
  display: block;
  position: relative;
  margin: 40px auto 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  z-index: 5;
}

.logo-bold {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  height: 61px;
}
@media screen and (min-width: 1599px) and (min-height: 899px) {
  .logo-bold {
    font-size: 36px;
  }
}

.logo-cursive {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 95px;
  font: 24px / 1.2 'Kaushan Script', cursive;
}
@media screen and (min-width: 1599px) and (min-height: 899px) {
  .logo-cursive {
    font-size: 32px;
  }
}

.main-container {
  position: relative;
  height: auto;
  width: 1200px;
  margin: 0 auto 0 auto;
  /* @media screen and (max-width: 1440px) {
      width: 1100px;
  } */
}

.bg1 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  opacity: .9;
  z-index: 2;
  background-image: linear-gradient(90deg, #fce38a 0%, #f38181 100%);
  background-image: -moz-linear-gradient(90deg, #fce38a 0%, #f38181 100%);
  background-image: -webkit-linear-gradient(90deg, #fce38a 0%, #f38181 100%);
  background-image: -ms-linear-gradient(90deg, #fce38a 0%, #f38181 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Gradient part of bg */
.bg2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("img/header_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/*  Image part of bg */
header {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-color: transparent;
  color: #fff;
}
header .container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 4;
}
header .container .links {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 65px;
}
header .container .links .btns {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .links .btns a {
  display: inline-block;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
header .container .links .btns a:hover {
  color: #fce38a;
}
header .container .links .btns a:hover::after {
  transform: scale(1);
}
header .container .links .btns a::after {
  content: '';
  top: -8px;
  display: inline-block;
  position: relative;
  background-color: #fce38a;
  height: 2px;
  width: 100%;
  transition: transform .15s linear;
  transform: scale(0);
}
header .container .links .btns img {
  width: 21px;
  height: 21px;
}
header .container .links .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  user-select: none;
}
@media screen and (min-width: 1599px) and (min-height: 899px) {
  header .container .links .logo {
    font-size: 28px;
  }
}
header .container .logo-container {
  width: 100%;
  margin-top: 200px;
  text-align: center;
  user-select: none;
}
header .container .logo-container .logo1 {
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
}
header .container .logo-container .logo2 {
  font-size: 106px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 1439px) and (max-height: 900px) {
  header .container .logo-container {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1599px) and (max-height: 900px) {
  header .container .logo-container {
    margin-top: 150px;
  }
}
header .container .learn-more {
  border: 2px solid white;
  background: transparent;
  display: block;
  color: white;
  padding: 14px;
  position: relative;
  text-transform: uppercase;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
  transition: border-color .15s linear,   color        .15s linear;
}
header .container .learn-more:hover {
  border-color: #b58f05;
  color: #b58f05;
}
header .container .bottom-links {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  bottom: 0;
  width: 100%;
  height: 90px;
  vertical-align: middle;
}
header .container .bottom-links a {
  display: inline-block;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-indent: 6px;
  transition: all .2s ease;
}
header .container .bottom-links a:hover {
  color: #fce38a;
}
header .container .bottom-links a:hover {
  color: #cea205;
}
header .container .bottom-links .index {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  top: 2px;
  user-select: none;
}
@media screen and (max-width: 1439px) {
  header .container .logo-container {
    margin: 20px auto 0 auto;
  }
  header .container .logo-container .logo1 {
    font-size: 62px;
  }
  header .container .logo-container .logo2 {
    font-size: 96px;
  }
  header .container .bottom-links {
    margin-top: 10px;
  }
}

.about {
  display: block;
  width: 100%;
  height: 750px;
  margin: 0 auto;
}
.about .separate-line {
  margin: 40px auto 47px auto;
}
.about .info {
  font-size: 15px;
  text-align: center;
  width: 950px;
  margin: 0 auto;
}
.about .images {
  width: 100%;
}
.about .images div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  height: 250px;
  width: 380px;
  margin-left: 30px;
  margin-top: 105px;
  transition: all .15s ease;
}
.about .images div.img span {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  filter: opacity(0);
  transition: all .2s ease;
}
.about .images div.img:hover {
  left: -10px;
  top: -10px;
  box-shadow: 10px 10px 0 #95e1d3;
  cursor: pointer;
}
.about .images div.img:hover span {
  filter: opacity(1);
}
.about .images div.img:first-child {
  margin-left: 0;
  background-image: url(./img/about-img1.jpg);
}
.about .images div.img:first-child:hover {
  background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img1.jpg);
  background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img1.jpg);
}
.about .images div.img:nth-child(2) {
  background-image: url(./img/about-img2.jpg);
}
.about .images div.img:nth-child(2):hover {
  background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img2.jpg);
  background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img2.jpg);
}
.about .images div.img:nth-child(3) {
  background-image: url(./img/about-img3.jpg);
}
.about .images div.img:nth-child(3):hover {
  background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img3.jpg);
  background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img3.jpg);
}

.facts-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 270px;
  background-color: #95e1d3;
  /* .facts */
}
.facts-wrapper .facts {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /* .fact */
}
.facts-wrapper .facts .fact {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}
.facts-wrapper .facts .fact:first-child {
  border-left: none;
}
.facts-wrapper .facts .fact:not(:first-child) {
  border-left: 1px solid #b5eae0;
}
.facts-wrapper .facts .fact:last-child {
  border-right: none;
}
.facts-wrapper .facts .fact p.h {
  position: relative;
  top: 90px;
  font-size: 72px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.facts-wrapper .facts .fact p.sm {
  position: relative;
  width: 100%;
  top: 100px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* .facts-wrapper */
.services {
  width: 100%;
  height: 650px;
  max-height: 650px;
  /* .cell */
}
.services .cell {
  position: relative;
  display: block;
  float: left;
  width: 400px;
  margin: 0;
  padding: 0;
}
.services .cell:hover img {
  transform: scale(1.15);
  transition: all .3s ease;
}
.services .cell .name {
  position: absolute;
  display: inline-block;
  margin-left: 25px;
  top: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.services .cell .text {
  width: 270px;
  margin-left: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #b3b3b3;
}
.services .cell .text::selection {
  color: #2f2f2f;
}
.services .cell .text::-moz-selection {
  color: #2f2f2f;
}
.services .row1, .services .row2 {
  display: flex;
  height: 190px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  clear: both;
}
.services .row1 {
  border-bottom: 1px solid #e5e5e5;
}

/* .services */
.design {
  position: relative;
  display: block;
  width: 100%;
  height: 850px;
  margin-top: 0;
  background: url("./img/design-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* .container  (positioning images to center) */
}
.design .container {
  position: absolute;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
}
.design .container .ipad {
  margin-left: 290px;
}
.design .container .phone {
  position: absolute;
  bottom: 0;
  bottom: -100px;
  right: 200px;
}

/* .design */
.about-job {
  width: 100%;
  height: 850px;
  /* .cell */
}
.about-job p.text-sm {
  margin-top: 50px;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}
.about-job p.text-sm::selection {
  color: #2f2f2f;
}
.about-job p.text-sm::-moz-selection {
  color: #2f2f2f;
}
.about-job .about-img {
  margin-top: 100px;
}
.about-job .info-container {
  margin-top: 100px;
  width: 600px;
  float: right;
  list-style: none;
}
.about-job .cell {
  border: 1px solid #e5e5e5;
  overflow: hidden;
  box-sizing: border-box;
  transition: height .3s ease;
  /* .info-text */
}
.about-job .cell:first-child {
  height: 240px;
}
.about-job .cell:not(:first-child) {
  height: 60px;
  margin-top: 10px;
}
.about-job .cell:not(:first-child) .arrow {
  transform: rotate(180deg);
}
.about-job .cell:not(:first-child) .header {
  border-bottom: none;
}
.about-job .cell .header {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
  user-select: none;
}
.about-job .cell .header:hover {
  cursor: pointer;
}
.about-job .cell .header:hover .display {
  color: #9a9a9a;
}
.about-job .cell .display {
  line-height: 60px;
  font-weight: 600;
  transition: all .2s ease;
}
.about-job .cell .pic {
  float: left;
  margin: 15px;
}
.about-job .cell .arrow {
  float: right;
  margin-right: 15px;
  margin-top: 24px;
  transition: transform .4s ease;
}
.about-job .cell .info-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 178px;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  /* .scroll-container */
}
.about-job .cell .info-text .scroll-container {
  width: 560px;
  height: 140px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.about-job .cell .info-text .scroll-container::-webkit-scrollbar {
  width: 5px;
}
.about-job .cell .info-text .scroll-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 3px;
}
.about-job .cell .info-text .scroll-container::-webkit-scrollbar-thumb {
  height: 90px;
  width: 5px;
  background-color: #95e1d3;
  border-radius: 3px;
}
.about-job .cell .info-text .scroll-container p.text {
  font-weight: 300;
  font-family: "Roboto";
  color: #b3b3b3;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  position: relative;
  height: 80px;
  width: 530px;
  margin-left: 20px;
  overflow-y: show;
}
.about-job .cell .info-text .scroll-container p.text::selection {
  color: #2f2f2f;
}
.about-job .cell .info-text .scroll-container p.text::-moz-selection {
  color: #2f2f2f;
}
.about-job .cell .info-text .hide-panel {
  position: absolute;
  width: 530px;
  min-width: 530px;
  max-width: 530px;
  height: 40px;
  bottom: 0;
  right: 30px;
  background-color: #fff;
}

/* .about-job */
.comment-section-wrapper, .comment-section-wrapper-2 {
  display: flex;
  width: 100%;
  height: 290px;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
.comment-section-wrapper .section, .comment-section-wrapper-2 .section {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-section-wrapper .comments-wrapper, .comment-section-wrapper-2 .comments-wrapper {
  position: relative;
  width: 95%;
  height: 290px;
  overflow: hidden;
}
.comment-section-wrapper ul.comments, .comment-section-wrapper-2 ul.comments {
  position: relative;
  width: 5700px;
  height: 150px;
  margin: 70px 0 70px 0;
  left: 0;
  left: -1140px;
  transition: all .4s ease;
}
.comment-section-wrapper ul.comments li, .comment-section-wrapper-2 ul.comments li {
  position: relative;
  width: 1140px;
  height: 100%;
  float: left;
  list-style: none;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}
.comment-section-wrapper ul.comments li p:not(.author), .comment-section-wrapper-2 ul.comments li p:not(.author) {
  position: absolute;
  top: 0;
  margin-left: 40px;
  margin-top: 10px;
  width: 760px;
  height: 60px;
  display: inline-block;
  font: inherit;
}
.comment-section-wrapper ul.comments li img, .comment-section-wrapper-2 ul.comments li img {
  height: 60px;
  width: 60px;
  display: inline-block;
  padding: 40px;
  border: 3px solid #95e1d3;
  cursor: default;
  user-select: initial;
}
.comment-section-wrapper ul.comments li .author, .comment-section-wrapper-2 ul.comments li .author {
  position: relative;
  display: inline-block;
  font-family: "Kaushan Script";
  font-size: 24px;
  margin-left: 55px;
}
.comment-section-wrapper ul.comments li .author::before, .comment-section-wrapper-2 ul.comments li .author::before {
  content: "";
  position: relative;
  width: 60px;
  height: 3px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: #f38181;
}
.comment-section-wrapper img, .comment-section-wrapper-2 img {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.comment-section-wrapper img.arrow-right, .comment-section-wrapper-2 img.arrow-right {
  transform: rotate(180deg);
}

/* .comments-wrapper */
.team {
  height: 1050px;
  width: 1200px;
  /* .team-images */
}
.team p.text {
  font-weight: 300;
  font-family: "Roboto";
  color: #b3b3b3;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  width: 950px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  line-height: 25px;
}
.team .team-images {
  position: relative;
  display: flex;
  width: 100%;
  height: 470px;
  margin-top: 90px;
  justify-content: space-between;
  /* .member */
}
.team .team-images .member {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  transition: all .2s ease;
  left: 0;
  top: 0;
  /* .links */
}
.team .team-images .member:first-child {
  background-image: url(img/team-1.png);
}
.team .team-images .member:first-child:hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-1.png);
}
.team .team-images .member:nth-child(2) {
  background-image: url(img/team-2.png);
}
.team .team-images .member:nth-child(2):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-2.png);
}
.team .team-images .member:last-child {
  background-image: url(img/team-3.png);
}
.team .team-images .member:last-child:hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-3.png);
}
.team .team-images .member:hover {
  left: -10px;
  top: -10px;
  box-shadow: 10px 10px 0px #95e1d3;
}
.team .team-images .member:hover .links {
  filter: opacity(1);
}
.team .team-images .member .links {
  width: 227px;
  height: 56px;
  filter: opacity(0);
  transition: all .25s ease;
}
.team .team-images .member .links button {
  float: left;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  border: none;
  cursor: pointer;
  transition: all .35s ease;
}
.team .team-images .member .links button:hover {
  background-color: #f38181;
}
.team .team-images .member .links button:hover img {
  filter: brightness(100);
}
.team .team-names {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 30px;
}
.team .team-names .name {
  text-align: center;
  font: inherit;
  width: 33.333%;
}
.team .team-names .profession {
  margin-top: -25px;
  text-align: center;
  width: 33.333%;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  color: #b3b3b3;
}

/* .team */
.team-logos-container {
  display: flex;
  height: 250px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
.team-logos-container img {
  display: block;
  position: relative;
}

/* .team-logos-container */
.work-example-text {
  position: relative;
  width: 100%;
  height: 410px;
}
.work-example-text p.text {
  font-weight: 300;
  font-family: "Roboto";
  color: #b3b3b3;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  width: 950px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

/* .work-example */
.work-example-images {
  height: 780px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: none;
  overflow: hidden;
  /* .img */
}
.work-example-images .img {
  display: flex;
  background-repeat: no-repeat;
  width: 25vw;
  height: 390px;
  justify-content: center;
  align-items: center;
  /* .container */
}
.work-example-images .img:hover .container {
  filter: opacity(1);
}
.work-example-images .img .container {
  position: relative;
  width: 200px;
  height: 130px;
  filter: opacity(0);
  cursor: default;
  transition: all .2s ease;
}
.work-example-images .img .container img {
  display: block;
  margin: 0 auto;
}
.work-example-images .img .container p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.work-example-images .img .container p.bold {
  text-transform: uppercase;
  font-size: 14px;
}
.work-example-images .img .container p.comm {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
}
.work-example-images .img:nth-child(1) {
  background-image: url(./img/photo-1.png);
}
.work-example-images .img:nth-child(1):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-1.png);
}
.work-example-images .img:nth-child(2) {
  background-image: url(./img/photo-2.png);
}
.work-example-images .img:nth-child(2):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-2.png);
}
.work-example-images .img:nth-child(3) {
  background-image: url(./img/photo-3.png);
  background-position-x: center;
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 780px;
}
.work-example-images .img:nth-child(3):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-3.png);
}
.work-example-images .img:nth-child(4) {
  background-image: url(./img/photo-4.png);
}
.work-example-images .img:nth-child(4):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-4.png);
}
.work-example-images .img:nth-child(5) {
  background-image: url(./img/photo-5.png);
}
.work-example-images .img:nth-child(5):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-5.png);
}
.work-example-images .img:nth-child(6) {
  background-image: url(./img/photo-6.png);
}
.work-example-images .img:nth-child(6):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-6.png);
}
.work-example-images .img:nth-child(7) {
  background-image: url(./img/photo-7.png);
}
.work-example-images .img:nth-child(7):hover {
  background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-7.png);
}

/* .work-example-images */
.comment-section-wrapper-2 {
  height: 450px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.comment-section-wrapper-2 ul.comments li img {
  position: relative;
  top: -20px;
  left: 20px;
  height: 210px;
  width: 210px;
  padding: 0;
  border: none;
}
.comment-section-wrapper-2 ul.comments li p {
  color: #b3b3b3;
}
.comment-section-wrapper-2 ul.comments li p.author {
  position: relative;
  top: -75px;
  color: #333;
}

/* .comments-sections-wrapper-2 */
.clients-wrapper {
  position: relative;
  width: 100%;
  height: 830px;
  background-image: url(./img/clients-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  /* .clients */
}
.clients-wrapper .clients {
  position: relative;
  width: 100%;
  height: 100%;
}
.clients-wrapper .clients .client-profiles {
  display: grid;
  position: relative;
  width: 1200px;
  height: 570px;
  margin: 40px auto 0 auto;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.clients-wrapper .clients .client-profiles .profile {
  position: relative;
  display: grid;
  width: 50%;
  height: 50%;
  margin-top: 50px;
  margin-left: 50px;
  justify-items: stretch;
  grid-template-rows: auto auto;
}
.clients-wrapper .clients .client-profiles .profile img {
  display: inline-block;
  width: 110px;
  height: 110px;
}
.clients-wrapper .clients .client-profiles .profile p.name {
  position: relative;
  top: -100px;
  left: 130px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.clients-wrapper .clients .client-profiles .profile p.profession {
  position: relative;
  top: -90px;
  left: 130px;
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
.clients-wrapper .clients .client-profiles .profile p.text {
  position: relative;
  top: -50px;
  left: 130px;
  width: 390px;
  font-weight: 300;
  font-family: "Roboto";
  color: #b3b3b3;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
}
.clients-wrapper .clients .client-profiles .profile .line {
  position: relative;
  top: -70px;
  left: 130px;
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}
.clients-wrapper .logo-cursive {
  margin-top: 10px;
}

/* .clients-wrapper */
.blogs {
  position: relative;
  width: 100%;
  height: 770px;
  /* .wrap */
}
.blogs .logo-cursive {
  margin-top: 25px;
}
.blogs .logo-bold {
  margin-top: -15px;
}
.blogs .wrap {
  width: 100%;
  /* .date */
  /* .titles */
  /* .stats */
}
.blogs .wrap .img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.blogs .wrap .img .image {
  display: inline-block;
  width: 380px;
  height: 240px;
  cursor: pointer;
}
.blogs .wrap .img .image:hover {
  outline: 2px solid #95e1d3;
}
.blogs .wrap .img .image:hover .date {
  background-color: #f38181;
}
.blogs .wrap .img .date {
  position: relative;
  top: 160px;
  left: -10px;
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  text-align: center;
  transition: all .15s ease;
}
.blogs .wrap .img .date p:first-child {
  position: relative;
  top: 5px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.blogs .wrap .img .date p:last-child {
  position: relative;
  top: 3px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.blogs .wrap .titles {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.blogs .wrap .titles span {
  width: 380px;
  text-transform: uppercase;
  font-size: 14px;
}
.blogs .wrap .texts {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.blogs .wrap .texts span {
  width: 380px;
  font-family: "Roboto";
  font-size: 15px;
  color: #b3b3b3;
}
.blogs .wrap .stats {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.blogs .wrap .stats .stat {
  position: relative;
  display: flex;
  width: 380px;
  height: 52px;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}
.blogs .wrap .stats .stat img {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .15s ease;
}
.blogs .wrap .stats .stat img:hover {
  filter: brightness(85%);
}
.blogs .wrap .stats .stat span {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #b3b3b3;
  cursor: pointer;
}

/* .blogs */
.map {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(./img/map-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.map img {
  position: relative;
  margin-top: 50px;
  left: calc(50% - 10px);
}
.map .link-container {
  display: flex;
  justify-content: center;
}
.map .link-container a {
  margin-top: 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #f38181;
  transition: all .2s ease;
}
.map .link-container a:hover {
  color: #c0392b;
}
.map .separate-line {
  margin-top: 20px;
}

/* .map */
.footer {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  font-size: 14px;
}
.footer p span {
  font-size: 14px;
  color: #f38181;
}
