@import "_mixins";
/* Montserrat font */
@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/Montserrat-Regular.eot');
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff'),
        url('./fonts/Montserrat-Regular.ttf') format('truetype'),
        url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */  
    src: url('./fonts/Montserrat-Bold.eot');
    src: local('Montserrat'), local('Montserrat-Bold'),
        url('./fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/Montserrat-Bold.woff') format('woff'),
        url('./fonts/Montserrat-Bold.ttf') format('truetype'),
        url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/Montserrat-Light.eot');
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('./fonts/Montserrat-Light.woff2') format('woff2'),
        url('./fonts/Montserrat-Light.woff') format('woff'),
        url('./fonts/Montserrat-Light.ttf') format('truetype'),
        url('./fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
}
/* Roboto font */
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/Roboto-Light.eot');
    src: local('Roboto'), local('Roboto-Light'),
        url('./fonts/Roboto-Light.woff2') format('woff2'),
        url('./fonts/Roboto-Light.woff') format('woff'),
        url('./fonts/Roboto-Light.ttf') format('truetype'),
        url('./fonts/Roboto-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Light'), 
        url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff'),
        url('./fonts/Roboto-Regular.ttf') format('truetype'),
        url('./fonts/Roboto-Regular.eot?#iefix') formt('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/Roboto-LightItalic.eot');
    src: local('Roboto'), local('Roboto-Italic')
        url('./fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('./fonts/Roboto-LightItalic.woff') format('woff'),
        url('./fonts/Roboto-LightItalic.ttf') format('truetype'),
        url('./fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
}
/* Kaushan script font */
@font-face {
    font-family: 'Kaushan Script';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007f; /* English gliph range */
    src: url('./fonts/KaushanScript-Regular.eot');
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
        url('./fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('./fonts/KaushanScript-Regular.woff') format('woff'),
        url('./fonts/KaushanScript-Regular.ttf') format('truetype'),
        url('./fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype');
}
/* /fonts */

$text-yellow: #fce38a;
$text-light: #b3b3b3;
$border-light: #e5e5e5;
$roboto: 'Roboto', sans-serif;

 *, *::after, *::before, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    /* overflow-x: hidden; */
}

body {
    background-color: #fff;
    color: #333;
}

::selection { background-color: #95e1d3; }
::-moz-selection { background-color: #95e1d3; }
img::selection { background-color: rgba($text-yellow, .5); }
img::-moz-selection { background-color: rgba($text-yellow, .5); }

.separate-line { @include separate-line; }
.logo-bold { @include logo-bold; }
.logo-cursive { @include logo-cursive; }

.main-container {
    position: relative;
    height: auto;
    width: 1200px;
    margin: 0 auto 0 auto;
    
    /* @media screen and (max-width: 1440px) {
        width: 1100px;
    } */
}

.bg1 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    opacity: .9;
    z-index: 2;
    background-image: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    
} /* Gradient part of bg */

.bg2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('img/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
} /*  Image part of bg */

header {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: transparent;
    color: #fff;
    
    .container {
        position: relative;   
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 4;
        
        .links {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 65px;

            .btns {
                width: 600px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    @include link;

                    &:hover::after {
                        transform: scale(1);
                    }
                    &::after {
                        content: '';
                        top: -8px;
                        display: inline-block;
                        position: relative;
                        background-color: $text-yellow;
                        height: 2px;
                        width: 100%;
                        transition: transform .15s linear;
                        transform: scale(0);
                    }
                }

                img {
                    width: 21px;
                    height: 21px;
                }
            } // btns

            .logo {
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 20px;
               font-weight: bold;
               text-align: left;
               user-select: none;

               @media screen and (min-width: 1599px) and (min-height: 899px) {
                   font-size: 28px;
               }

            } // .logo
        } // links

        .logo-container {
            width: 100%;
            margin-top: 200px;
            text-align: center;
            user-select: none;

            .logo1 {
                font-size: 72px;
                font-family: 'Kaushan Script', cursive;
            }

            .logo2 {
                font-size: 106px;
                font-weight: bold;
                text-transform: uppercase;
            }

            @media screen and (min-width: 1439px) and (max-height: 900px){
                margin-top: 50px;
            }
            @media screen and (min-width: 1599px) and (max-height: 900px){
                margin-top: 150px;
            }

        } // logo-big

        .learn-more {
            border: 2px solid white;
            background: transparent;
            display: block;
            color: white;
            padding: 14px;
            position: relative;
            text-transform: uppercase;
            margin: auto;
            margin-top: 50px;
            cursor: pointer;
            transition: border-color .15s linear,  
                        color        .15s linear; 

            &:hover {
                border-color: darken($text-yellow, 40);
                color: darken($text-yellow, 40);
            }

            

        } // learn more

        .bottom-links {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto 0 auto;   
            bottom: 0;  
            width: 100%;
            height: 90px;
            vertical-align: middle;
        
            a {
                @include link;
                font-size: 14px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-indent: 6px;
                transition: all .2s ease;

                &:hover {
                    color: darken($text-yellow, 35);
                }
            }

            .index {
                font-size: 18px;
                font-weight: bold;
                position: relative;
                display: inline-block;
                top: 2px;
                user-select: none;
            }   
        } // bottom-links

        // Header media queries
        // ----------------------------------- 
        @media screen and (max-width: 1439px) {
            .logo-container {
                margin: 20px auto 0 auto;

                .logo1 {
                    font-size: 62px;
                }

                .logo2 {
                    font-size: 96px;
                }
            } // logo-container

            .bottom-links {
                margin-top: 10px;
            }
        } // 0 - 1440 

        @media screen and (max-width) {

        } // < 
        // ------------------------------------ 
    } //container
} // header

.about {
    display: block;
    width: 100%;
    height: 750px;
    margin: 0 auto;

    .separate-line {
        margin: 40px auto 47px auto;
    }

    .info {
        font-size: 15px;
        text-align: center;
        width: (1200px - 125px * 2);
        margin: 0 auto;
    }

    .images {
        width: 100%;

        div.img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            float: left;
            left: 0;
            top: 0;
            height: 250px;
            width: 380px;
            margin-left: 30px;
            margin-top: 105px;
            transition: all .15s ease;

            span {
                font-family: "Montserrat";
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
                font-size: 18px;
                filter: opacity(0);
                transition: all .2s ease;
            }
            
            &:hover {
                left: -10px;
                top: -10px;
                box-shadow: 10px 10px 0 #95e1d3;
                cursor: pointer;

                span { filter: opacity(1); }
            }

            &:first-child {
                margin-left: 0;
                background-image: url(./img/about-img1.jpg);

                &:hover {
                    background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img1.jpg);
                    background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img1.jpg);
                }
            }

            &:nth-child(2) {
                background-image: url(./img/about-img2.jpg);

                &:hover {
                    background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img2.jpg);
                    background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img2.jpg);
                }
            }

            &:nth-child(3) {
                background-image: url(./img/about-img3.jpg);

                &:hover {
                    background-image: -webkit-linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img3.jpg);
                    background-image: linear-gradient(180deg, #ee8989cc, #f0d989cc), url(./img/about-img3.jpg);
                }
            }
        } // img
    } // images
} //about

.facts-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 270px;
    background-color: #95e1d3;

    .facts {
        position: relative;
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        .fact {
            display: block;
            position: relative;
            float: left;
            height: 100%;
            width: 20%;
            box-sizing: border-box;
            margin: 0;
            cursor: default;
            
            &:first-child {
                border-left: none;
            }
            
            &:not(:first-child) {
                border-left: 1px solid #b5eae0;
            }

            &:last-child {
                border-right: none;
            }

            p.h {
                position: relative;
                top: 90px;
                font-size: 72px;
                color: white;
                font-weight: bold;
                text-align: center;
            }

            p.sm {
                position: relative;
                width: 100%;
                top: 100px;
                font-size: 14px;
                color: white;
                text-transform: uppercase;
                text-align: center;
            }
        } /* .fact */
    } /* .facts */
} /* .facts-wrapper */

.services {
    width: 100%;
    height: 650px;
    max-height: 650px;
    
    .cell {
        position: relative;
        display: block;
        float: left;
        width: 400px;
        margin: 0;
        padding: 0;

        &:hover img {
            transform: scale(1.15);
            transition: all .3s ease;
        }
 
        .name {
            position: absolute;
            display :inline-block;
            margin-left: 25px;
            top: 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }
        
        .text {
            width: 270px;
            margin-left: 60px;
            font-family: $roboto;
            font-size: 15px;
            line-height: 24px;
            color: $text-light;

            &::selection {
                color: #2f2f2f;
            }
            &::-moz-selection {
                color: #2f2f2f;
            }
        }
    } /* .cell */

    .row1, .row2 {
        display: flex;
        height: 190px;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        clear: both;
    }
    .row1 {
        border-bottom: 1px solid #e5e5e5;
    }
} /* .services */

.design {
    position: relative;
    display: block;
    width: 100%;
    height: 850px;
    margin-top: 0;
    background: url('./img/design-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        position: absolute;
        width: 1200px;
        height: auto;
        margin: 0 auto;
        bottom: 0;
        left: 50%;
        margin-left: -600px;

        .ipad {
            margin-left: 290px;
        }

        .phone {
            position: absolute;
            bottom: 0;
            bottom: -100px;
            right: 200px;
        }
    } /* .container  (positioning images to center) */
} /* .design */

.about-job {
    width: 100%;
    height: 850px;
    
    p.text-sm {
        margin-top: 50px;
        color: $text-light;
        font-family: $roboto;
        font-size: 15px;
        text-align: center;

        &::selection {
            color: #2f2f2f;
        }
        &::-moz-selection {
            color: #2f2f2f;
        }
    }
    
    .about-img {
        margin-top: 100px;
    }
    
    .info-container {
        margin-top: 100px;
        width: 600px;
        float: right;
        list-style: none;
    }
    
    .cell {
        border: 1px solid $border-light;
        overflow: hidden;
        box-sizing: border-box;
        transition: height .3s ease;

        &:first-child {
            height: 240px;
        }
        
        &:not(:first-child) { // Initial hidden position of element 2 and 3
            height: 60px;
            margin-top: 10px;  
            .arrow { transform: rotate(180deg); }
            .header { border-bottom: none; } // Hide header bottom border when hidden
        }

        
        .header {
            position: relative;
            box-sizing: content-box;
            width: 100%;
            height: 58px;
            border-bottom: 1px solid $border-light;
            text-transform: uppercase;
            user-select: none;
            
            &:hover {
                cursor: pointer;

                .display {
                    color: darken($text-light, 10);
                }
            }
        }

        .display {
            line-height: 60px;
            font-weight: 600;
            transition: all .2s ease;
        }
        
        .pic {
            float: left;
            margin: 15px;
        }
        
        .arrow {
            float: right;
            margin-right: 15px;
            margin-top: 24px;

            transition: transform .4s ease;
        }

        .info-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 178px;
            width: 100%;
            overflow: hidden;
            font-family: $roboto;
            font-style: italic;
            font-weight: 300;

            .scroll-container {
                width: 560px;
                height: 140px;
                overflow-y: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #f5f5f5;
                    border-radius: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    height: 90px;
                    width: 5px;
                    background-color: #95e1d3;
                    border-radius: 3px;
                }
            
                p.text {
                    position: relative;
                    height: 80px;
                    width: 530px;
                    margin-left: 20px;
                    font-family: $roboto;
                    line-height: 24px;
                    color: $text-light;
                    overflow-y: show;

                    &::selection {
                        color: #2f2f2f;
                    }
                    &::-moz-selection {
                        color: #2f2f2f;
                    }
                }
            } /* .scroll-container */

            .hide-panel {
                position: absolute;
                width: 530px;
                min-width: 530px;
                max-width: 530px;
                height: 40px;
                bottom: 0;
                right: 30px;
                background-color: #fff;
            }

        } /* .info-text */ 
    } /* .cell */
} /* .about-job */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
.comment-section-wrapper {
    display: flex;
    width: 100%;
    height: 290px;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;

    .section {
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comments-wrapper {
        position: relative;
        width: 95%;
        height: 290px;
        overflow: hidden;
    }

    ul.comments {
        position: relative;
        width: 1140px * 5;
        height: 150px;
        margin: 70px 0 70px 0;
        left: 0;
        left: -1140px;
        transition: all .4s ease;

        li {
            position: relative;
            width: 1140px;
            height: 100%;
            float: left;
            list-style: none;
            font-family: "Roboto";
            font-style: italic;
            font-weight: 300;
            font-size: 24px;

            p:not(.author) {
                position: absolute;
                top: 0;
                margin-left: 40px;
                margin-top: 10px;
                width: 760px;
                height: 60px;
                display: inline-block;
                font: inherit;
            }

            img {
                height: 60px;
                width: 60px;
                display: inline-block;
                padding: 40px;
                border: 3px solid #95e1d3;
                cursor: default;
                user-select: initial;

            }

            .author {
                position: relative;
                display: inline-block;
                font-family: "Kaushan Script";
                font-size: 24px;
                margin-left: 55px;

                &::before {
                    content: "";
                    position: relative;
                    width: 60px;
                    height: 3px;
                    display: inline-block;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    background-color: #f38181;
                }
            }
        } // li
    } // ul.comments

    img {
        position: relative;
        cursor: pointer;
        user-select: none;

        &.arrow-right {
            transform: rotate(180deg);
        }
    }

} /* .comments-wrapper */

.team {
    height: 1050px;
    width: 1200px;

    p.text {
        width: 950px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-weight: normal;
        font-family: 'Roboto';
        color: $text-light;
        font-size: 15px;
        line-height: 25px;
        font-style: italic;
    }

    .team-images {
        position: relative;
        display: flex;
        width: 100%;
        height: 470px;
        margin-top: 90px;
        justify-content: space-between;

        .member {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 380px;
            height: 470px;
            transition: all .2s ease;
            left: 0;
            top: 0;

            &:first-child {
                background-image: url(img/team-1.png);
                &:hover {
                    background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-1.png);
                }
            }

            &:nth-child(2) {
                background-image: url(img/team-2.png);
                &:hover {
                    background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-2.png);
                }
            }

            &:last-child {
                background-image: url(img/team-3.png);
                &:hover {
                    background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/team-3.png);
                }
            }

            &:hover {
                left: -10px;
                top: -10px;
                box-shadow: 10px 10px 0px #95e1d3;

                .links { filter: opacity(1); }
            }

            .links {
                width: 227px;
                height: 56px;
                filter: opacity(0);
                transition: all .25s ease;
                
                button {
                    float: left;
                    width: 56px;
                    height: 56px;
                    background-color: #fce38a;
                    border: none;
                    cursor: pointer;
                    transition: all .35s ease;

                    &:hover {
                        background-color: #f38181;
                        
                        img { filter: brightness(100); }
                    }
                }
            } /* .links */
        } /* .member */
    } /* .team-images */

    .team-names {
        width: 1200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: bold;
        margin-top: 30px;

        .name { 
            text-align: center;
            font: inherit;
            width: 33.333%;
        }

        .profession {
            margin-top: -25px;
            text-align: center;
            width: 33.333%;
            font-family: "Roboto";
            font-style: italic;
            font-weight: 300;
            color: $text-light;
        }
    }
} /* .team */

.team-logos-container {
    display: flex;
    height: 250px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;

    img {
        display: block;
        position: relative;
    }
} /* .team-logos-container */

.work-example-text {
    position: relative;
    width: 100%;
    height: 410px;

    p.text {
        width: 950px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-weight: normal;
        font-family: 'Roboto';
        color: $text-light;
        font-size: 15px;
        line-height: 25px;
        font-style: italic;
    }
} /* .work-example */

.work-example-images {
    height: 780px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: none;
    overflow: hidden;

    .img {
        display: flex;
        background-repeat: no-repeat;
        width: 25vw;
        height: 390px;
        justify-content: center;
        align-items: center;

        .container {
            position: relative;
            width: 200px;
            height: 130px;
            filter: opacity(0);
            transition: all .2s ease;

            img {
                display: block;
                margin: 0 auto;
            }

            p {
                color: #fff;
                text-align: center;
                margin-top: 20px;
            }

            p.bold {
                text-transform: uppercase;
                font-size: 14px;
            }

            p.comm {
                font-family: "Roboto";
                font-style: italic;
                font-size: 15px;
            }
        }

        &:hover .container {
            filter: opacity(1);
        }

        &:nth-child(1) {
            background-image: url(./img/photo-1.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-1.png);
                
            }
        }
        &:nth-child(2) {
            background-image: url(./img/photo-2.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-2.png);
            }
        }
        &:nth-child(3) {
            background-image: url(./img/photo-3.png);
            background-position-x: center;
            grid-column: 3;
            grid-row: 1 / span 2;
            height: (390px * 2);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-3.png);
            }
        }
        &:nth-child(4) {
            background-image: url(./img/photo-4.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-4.png);
            }
        }
        &:nth-child(5) {
            background-image: url(./img/photo-5.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-5.png);
            }
        }
        &:nth-child(6) {
            background-image: url(./img/photo-6.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-6.png);
            }
        }
        &:nth-child(7) {
            background-image: url(./img/photo-7.png);

            &:hover {
                background-image: -webkit-linear-gradient(-90deg, #ee8989cc, #f0d989cc), url(img/photo-7.png);
            }
        }
    } /* .img */
} /* .work-example-images */

.comment-section-wrapper-2 {
    @extend .comment-section-wrapper;
    height: 450px;
    display: flex;
    align-items: center;
    background-color: #fff;

    ul.comments li{

        img {
            position: relative;
            top: -20px;
            left: 20px;
            height: 210px;
            width: 210px;
            padding: 0;
            border: none;
        }

        p {
            color: $text-light;
        }

        p.author {
            position: relative;
            top: -75px;
            color: #333;
        }
    }
} /* .comments-sections-wrapper-2 */

.clients-wrapper {
    position: relative;
    width: 100%;
    height: 830px;
    background-image: url(./img/clients-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}



.footer {
    height: 60px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 14px;

        span {
            font-size: 14px;
            color: #f38181;
        }
    }
}
